{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Editor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'closedbracketfinal/app.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>var viewportmeta = document.querySelector('meta[name="viewport"]');
if (viewportmeta) {
  if (screen.width < 375) {
    var newScale = screen.width / 375;
    viewportmeta.content = 'width=375, minimum-scale=' + newScale + ', maximum-scale=1.0, user-scalable=no, initial-scale=' + newScale + '';
  } else {
    viewportmeta.content = 'width=device-width, maximum-scale=1.0, initial-scale=1.0';
  }
}</script>
  </head>
  <body>
    <div class="out">
      <div class="page4 page4_theme js-page4">
        <div class="header6 js-header6"><button class="header6__burger js-header6-burger"><svg class="icon icon-burger">
              <use xlink:href="img/sprite.svg#icon-burger"></use>
            </svg></button><a class="header6__logo" href="#"><img class="header6__pic header6__pic_black" src="img/logo.svg" alt="" /><img class="header6__pic header6__pic_white" src="img/logo-white.svg" alt="" /></a>
          <nav class="header6__nav"><a class="header6__link" href="{% url 'leaderboard' %}">
              </svg>Leaderboard</a><a class="header6__link" href="{% url 'play' %}">
              </svg>Play</a><a class="header6__link active" href="{% url 'profile' %}"><svg class="icon icon-check-square">
                <use xlink:href="img/sprite.svg#icon-check-square"></use>
              </svg>Profile</a></nav>
          <div class="header6__control"><button></button></div><a class="header6__user" href="{% url 'profile' %}">
            <div class="ava"><img class="ava__pic" src="img/ava-9.png" alt="" /></div>
            <div class="header6__text">Gautam Sood</div>
          </a>
          <div class="header6__bg js-header6-bg"></div>
        </div>
        <div class="page4__wrapper">
          
          <div class="editor">
            
              <div class="editor__container">
                <div class="editor__item">
                  <div class="editor__top">
                    <div class="editor__dropdown js-dropdown">
                    </div>
                  </div>
                  <div class="editor__wrap">
                    <div class="editor__line">
                      
                      <div class="editor__details">
                        <div class="editor__title title title_sm">
                          {% for Questions in object_list %}
                              {{ Questions.title }}<br/>
                              {{ Questions.body }}<br/>
                          {% endfor%}
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="editor__item">
                  <div class="editor__top">
                    <div class="editor__dropdown js-dropdown">
                      
                    </div>
                  </div>
                  <div class="editor__wrap">
                    <div class="editor__line">
                      
                      <div class="editor__details">
                        <div class="editor__title title title_sm">Write your code in the editor below:</div>
                      </div>
                    </div>
                    <div class="editor__field"><textarea class="editor__textarea js-editor-content"></textarea></div>
                    <br></br>
                    <a  href="{% url 'results' %}"><button class="  btn btn_blue" id="myBtn">Submit</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div><label class="switch switch_theme"><input class="switch__input js-switch-theme" type="checkbox" /><span class="switch__in"><span class="switch__box"></span><span class="switch__icon"><svg class="icon icon-moon">
                  <use xlink:href="img/sprite.svg#icon-moon"></use>
                </svg><svg class="icon icon-sun">
                  <use xlink:href="img/sprite.svg#icon-sun"></use>
                </svg></span></span></label>
        </div>
      </div>
    </div>
    <script src="{% static 'closedbracketfinal/app.js' %}"></script>
    <script src="{% static 'closedbracketfinal/common.js' %}"></script>
    <script src="{% static 'closedbracketfinal/charts.js' %}"></script>
  </body>
</html>
